<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/main.css"  media="screen,projection"/>
    <title>PICTURE UPLOAD</title>
</head>
<body>
    <div class="container">
        <h1>PROFILE PIC</h1>
        <%= typeof msg != 'undefined' ? msg: '' %> 
        <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input name="myImage" type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input  class="file-path validate" type="text" style="color:white">
                  </div>
                </div>
                <button type="submit" class="btn">SAVE</button>
        </form>
    </div>          

    
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script> 
   
</body>
</html>