<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/main.css"  media="screen,projection"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> POLICY</title>
</head>
<body style="overflow-y:scroll">
    <div class="container">
        <ul class="collapsible popout">
                <li>
                        <div class="collapsible-header"><i class="material-icons"></i>REFUND POLICY</div>
                        <div class="collapsible-body"><span class="white-text">
                          <span class="red-text text-darken-2">QUIZNOU </span> is a <span class="red-text text-darken-2">REAL-TIME MULTIPLAYER CASH EARNIG TRIVIA GAME</span>
                          It is played between Real people in Real-Time. It is being created with a purpose to let people earn money by just playing a game which is educative as well as help you in earning money in the process. It is India's first real-time cash earning multiplayer trivia game which is played between real-people in real-time.
                          IF QUIZNOU fails to match a participant against another participant (due to no other participant being online or available in matchmaking),then the charged amount will be refunded immediately.
                          Once the game has started, if the participant wishes to quit the game(either by navigating back in the browser or refreshing the game),the charged amount will not be refunded under any circumstances.
                          By playing the game, the participant indirectly agrees to the fact that it is a network based game and if the option clicked by the user is not recieved by the server in proper time,it will be either due to slow network connection of the participant or any other issues which are beyond the scope of QUIZNOU. Quiznou is not responsible for such issues in the game as it is caused by the network of the participant and QUIZNOU won't refund the charged amount in such circumstances.
                          If a participant has not played a game and has been charged indefinetly, he/she can contact quiznou with their registered username and mobile number linked with the payment.
                          If QUIZNOU finds that a player has been charged indefinetly(like charged even when no match found), the charged amount will be refunded immediately.
                        </span>
                        </div>
                </li>

                <li>
                        <div class="collapsible-header"><i class="material-icons"></i>PRIVACY POLICY</div>
                        <div class="collapsible-body"><span class="white-text">
                                The terms "We" / "Us" / "Our"/”Company” individually and collectively refer to  QUIZNOU and the terms "You" /"Your" / "Yourself" refer to the users. 
                                This Privacy Policy is an electronic record in the form of an electronic contract formed under the information Technology Act, 2000 and the rules made thereunder and the amended provisions pertaining to electronic documents / records in various statutes as amended by the information Technology Act, 2000. This Privacy Policy does not require any physical, electronic or digital signature.
                                This Privacy Policy is a legally binding document between you and QUIZNOU (both terms defined below). The terms of this Privacy Policy will be effective upon your acceptance of the same (directly or indirectly in electronic form, by clicking on the I accept tab or by use of the website or by other means) and will govern the relationship between you and ………………………. for your use of the website “Website” (defined below).
                                This document is published and shall be construed in accordance with the provisions of the Information Technology (reasonable security practices and procedures and sensitive personal data of information) rules, 2011 under Information Technology Act, 2000; that require publishing of the Privacy Policy for collection, use, storage and transfer of sensitive personal data or information.
                                Please read this Privacy Policy carefully by using the Website, you indicate that you understand, agree and consent to this Privacy Policy. If you do not agree with the terms of this Privacy Policy, please do not use this Website. 
                                By providing us your Information or by making use of the facilities provided by the Website, You hereby consent to the collection, storage, processing and transfer of any or all of Your Personal Information and Non-Personal Information by us as specified under this Privacy Policy. You further agree that such collection, use, storage and transfer of Your Information shall not cause any loss or wrongful gain to you or any other person.
                                <br><br><span class="red-text text-darken-2">USER INFORMATION</span>
                                To avail certain services on our Websites, users are required to provide certain information for the registration process namely: - a) your name, b) email address, c) sex, d) age, e) PIN code, f) credit card or debit card details g) medical records and history h) sexual orientation, i) biometric information, j) password etc., and / or your occupation, interests, and the like. The Information as supplied by the users enables us to improve our sites and provide you the most user-friendly experience.

                               All required information is service dependent and we may use the above said user information to, maintain, protect, and improve its services (including advertising services) and for developing new services.
                               Such information will not be considered as sensitive if it is freely available and accessible in the public domain or is furnished under the Right to Information Act, 2005 or any other law for the time being in force.

                               <br><br><span class="red-text text-darken-2">COOKIES</span>
                               To improve the responsiveness of the sites for our users, we may use "cookies", or similar electronic tools to collect information to assign each visitor a unique, random number as a User Identification (User ID) to understand the user's individual interests using the Identified Computer. Unless you voluntarily identify yourself (through registration, for example), we will have no way of knowing who you are, even if we assign a cookie to your computer. The only personal information a cookie can contain is information you supply (an example of this is when you ask for our Personalised Horoscope). A cookie cannot read data off your hard drive. Our advertisers may also assign their own cookies to your browser (if you click on their ads), a process that we do not control. 
                       </span>  
                      </div>
                    </li>


                    <li>
                            <div class="collapsible-header"><i class="material-icons"></i>TERMS AND CODITIONS</div>
                            <div class="collapsible-body"><span class="white-text">
                                    The terms "We" / "Us" / "Our"/”Company” individually and collectively refer to QUIZNOU and the terms "Visitor” ”User” refer to the users. 

                                    This page states the Terms and Conditions under which you (Visitor) may visit this website (“Website”). Please read this page carefully. If you do not accept the Terms and Conditions stated here, we would request you to exit this site. The business, any of its business divisions and / or its subsidiaries, associate companies or subsidiaries to subsidiaries or such other investment companies (in India or abroad) reserve their respective rights to revise these Terms and Conditions at any time by updating this posting. You should visit this page periodically to re-appraise yourself of the Terms and Conditions, because they are binding on all users of this Website.
                                    
                                    
                                    <br><br><span class="red-text text-darken-2">USE OF CONTENt</span>
                                    You may not sell or modify the content of this Website  or reproduce, display, publicly perform, distribute, or otherwise use the materials in any way for any public or commercial purpose without the respective organisation’s or entity’s written permission.


    
                                   <br><br><span class="red-text text-darken-2">SECURITY RULES</span>
                                   Visitors are prohibited from violating or attempting to violate the security of the Web site, including, without limitation, (1) accessing data not intended for such user or logging into a server or account which the user is not authorised to access, (2) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorisation, (3) attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus or "Trojan horse" to the Website, overloading, "flooding", "mail bombing" or "crashing", or (4) sending unsolicited electronic mail, including promotions and/or advertising of products or services. Violations of system or network security may result in civil or criminal liability. The business and / or its associate entities will have the right to investigate occurrences that they suspect as involving such violations and will have the right to involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.
                           </span>  
                          </div>
                    </li>

                    <li>
                            <div class="collapsible-header"><i class="material-icons"></i>CONTACT US</div>
                            <div class="collapsible-body"><span class="white-text">
                                In case of any Grievances or any suggestions users are free to contact QUIZNOU at:
                              <span class="red-text text-darken-2">info@quiznou.com </span> QUIZNOU will welcome ay suggestions users can suggest for making this game even a better one and reach out to more people in a better way.
                              IN case of any payments issues, please update your query at the above given email address. QUIZNOU will look into the matter and provide you a best solution at the earliest possible.
                              Thank you!
                              
                            </span>
                            </div>
                    </li>
                    </ul>
    </div>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script> 
</body>
<script>
        var elem = document.querySelector('.collapsible.popout');
        var instance = M.Collapsible.init(elem);
</script>
</html>