<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/main.css"  media="screen,projection"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RULES FOR THE GAME!</title>
</head>
<body style="overflow-y:scroll">
    <div class="container" >
        <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons"></i>ABOUT THE GAME</div>
                  <div class="collapsible-body">
                      <ul  style="list-style-type:disc" class="white-text"  >
                          <li  style="list-style-type:disc" >
                              QUIZNOU is a Real-time multiplayer game played between real players in real time.
                          </li>
                          <li style="list-style-type:disc" >
                               It has several categories to play in, which makes it a game availaible for all kind of people.It doesn't limit to a class of people who knows everything but also for people who knows a bit of everything or has knowledge only in sports or movies or maths,etc.
                          </li>
                          <li style="list-style-type:disc" > 
                              It can be played unlimited number of times in a day and user can earn unlimited cash in a day.
                              Users doesn't have to wait for a particular time to play the game,it can be played at any time thus making it time-constraint free.
                          </li>
                           <li style="list-style-type:disc" >
                              Instant Paytm cashback is being credited to users on winning the game.Potentially,users can earn more than Rs. 2000 per day.
                          </li>
                      </ul>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons"></i>RULES</div>
                  <div class="collapsible-body"> 
                  <ul style="list-style-type:circle" class="white-text">
                      <li style="list-style-type:disc">
                         New Users need to register/signup to play the game.During the sign-up process,Users need to submit their paytm registered mobile number in order to avail instant paytm cashback services.User must make sure that the mobile number submitted during the sign-up process must be paytm registered. 
                      </li>
                      <li style="list-style-type:disc" >
                         There are 4 categories to choose from and play in.After choosing a particular category,users are redirected to the paytm payemnts web-page.Users are asked to pay Rs 6 from their paytm wallet.Post successful payment,users are matched randomly against to a maximum of 2 opponents. 
                      </li>
                      <li style="list-style-type:disc">
                          Once the match starts, each usrer connected to that particular game/match are given the same questions.For each question,users are given 10 seconds to answer that particular question.
                      </li>
                      <li style="list-style-type:disc">
                          In a particular game/match, 8 questions are being asked,each given a 10 seconds time interval to answer each question.
                      </li>
                      <li style="list-style-type:disc">
                          To make it a fun, interesting and competetive game, a unique scoring system is being used to calculate the scores of users connected in a game.
                      </li>
                      <li style="list-style-type:disc">
                        Since each question is given 10 seconds to answer, user who answer the question earlier than their opponenets in a game is given an advantage. 
                      </li>
                      <li style="list-style-type:disc">
                          The scoring system is being calculated on the following formula: No. of points on successful/right click of option of a particular question =  No. of seconds left in that question. 
                      </li>
                      <li style="list-style-type:disc">
                          For example;if a user clicks on a right option when there were 7 seconds left,then that user will be given 7 points.So basically,answering the question correctly as early as possible is an added advantage.
                      </li>
                      <li style="list-style-type:disc">
                          At the end of 8 questions,user with maximum points/score is declared the winner.This unique scoring system make the game competetive.
                      </li>
                  </ul>
                </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons"></i>PAYMENTS & WINNINGS</div>
                  <div class="collapsible-body">
                      <ul style="list-style-type:circle" class="white-text">
                          <li style="list-style-type:disc">
                              Users can play unlimited number of games in day.Users need to pay Rs. 6 to play each game.
                          </li>
                          <li style="list-style-type:disc">
                              Users  are randomly matched against 2 or 1 opponent(s).After the completion of a game , user with maximum points/score is declared the winner.
                          </li>
                          <li style="list-style-type:disc">
                              If a user is matched against only 1 opponent,he/she is given Rs. 10 paytm cashback on winning the game.The cashback is being credited to their paytm wallet instantly.
                          </li>
                          <li style="list-style-type:disc">
                              If a user is matched against  2 opponents,he/she is given Rs. 15 paytm cashback on winning the game.The cashback is being credited to their paytm wallet instantly.
                          </li>
                          
                      </ul>
                  </div>
                </li>
        </ul>
    </div>



 <script type="text/javascript" src="/materialize/js/materialize.min.js"></script> 
</body>
<script>
     var elem = document.querySelector('.collapsible.popout');
     var instance = M.Collapsible.init(elem);
</script>
</html>